@font-face {
  font-family: Pattaya;
  src: url(/fonts/Pattaya/Pattaya-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(/fonts/Poppins/Poppins-Thin.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(/fonts/Poppins/Poppins-Black.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(/fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(/fonts/Poppins/Poppins-ExtraBold.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(/fonts/Poppins/Poppins-ExtraLight.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(/fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(/fonts/Poppins/Poppins-SemiBold.ttf);
}
*, *::before, *::after {
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
 v2.0 | 20110126
 License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  outline: none;
  border: none;
}

h1 {
  font-size: 1.5rem;
  font-family: "Pattaya", sans-serif;
}
@media (min-width: 700px) {
  h1 {
    font-size: 3rem;
    margin-left: 6.25rem;
  }
}

h2 {
  font-size: 2.25rem;
}

h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

h3, h4, h5 {
  letter-spacing: 0.25rem;
}

p {
  font-size: 0.8125rem;
  letter-spacing: 0.1875rem;
  font-weight: 400;
}

p, a {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: white;
  position: relative;
}

.active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: transform 0.2s ease-in-out;
  transform: scale(0);
}
.active:hover::after {
  transform: scale(1);
}
.active:active {
  color: rgb(179, 179, 179);
}
.active:active::after {
  background: rgb(179, 179, 179);
}

.white {
  color: white;
}

header > nav {
  background-color: rgba(183, 76, 76, 0.4196078431);
  position: relative;
  display: flex;
  padding: 0 1.25rem;
  justify-content: space-between;
  align-items: center;
  height: 4.6875rem;
}
header > nav > button {
  background-color: rgba(183, 76, 76, 0.4196078431);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.3125rem;
  cursor: pointer;
  background: center/cover no-repeat;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(61deg) brightness(107%) contrast(101%);
}
header > nav .open {
  background-image: url("/images/bx-x.svg");
}
header > nav .close {
  background-image: url("/images/bx-menu.svg");
}
header > nav > .desktop-ul {
  display: none;
}
@media (min-width: 700px) {
  header > nav {
    height: 6.25rem;
  }
  header > nav #ham {
    display: none;
  }
  header > nav > .desktop-ul {
    width: 50%;
    display: block;
    display: flex;
    padding: 0 1.25rem 0 0;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  header > nav > .desktop-ul > li > button {
    cursor: pointer;
    background: center/cover no-repeat url("/images/bx-search.svg");
    width: 1.4375rem;
    height: 1.4375rem;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(61deg) brightness(107%) contrast(101%);
  }
  header > nav > .desktop-ul > .show-search {
    position: absolute;
    top: 3.125rem;
    background-color: #e08383;
    padding: 0.625rem;
    right: 6%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  header > nav > .desktop-ul > .show-search > * {
    margin: 0.3125rem;
  }
  header > nav > .desktop-ul > .show-search > input {
    width: 25rem;
    font-size: 1.125rem;
    height: 2.5rem;
  }
  header > nav > .desktop-ul > .show-search > button {
    background: center/cover no-repeat url("/images/bx-search.svg");
    width: 1.875rem;
    height: 1.875rem;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(61deg) brightness(107%) contrast(101%);
  }
  header > nav > .desktop-ul > .show-search::after {
    content: "";
    width: 0.9375rem;
    height: 0.9375rem;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
            clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    position: absolute;
    background-color: #e08383;
    top: -15px;
    right: 0;
  }
}

.show {
  width: 18.75rem !important;
}

.close1 {
  display: none !important;
}

.menu-popUp {
  width: 0;
  transition: width 1s ease;
  background-color: #e08383;
  position: absolute;
  left: 0;
  right: 0;
  top: 7.8125rem;
  margin-left: auto;
  margin-right: auto;
  padding: 3.125rem 0;
  list-style: none;
  overflow: hidden;
  display: block;
}
.menu-popUp > .mobile-ul {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.menu-popUp > .mobile-ul > * {
  padding: 0.9375rem 0;
}
.menu-popUp > .mobile-ul > form {
  display: flex;
  background-color: rgba(183, 76, 76, 0.4196078431);
  justify-content: center;
  align-items: center;
}
.menu-popUp > .mobile-ul > form > * {
  border-radius: 0.3125rem;
  height: 1.875rem;
  margin: 0 0.3125rem;
}
.menu-popUp > .mobile-ul > form > button {
  width: 1.875rem;
  border-radius: 0.3125rem;
  background: center/cover no-repeat url("/images/bx-search.svg");
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(61deg) brightness(107%) contrast(101%);
}
.menu-popUp > .mobile-ul > form > input {
  background-color: rgba(183, 76, 76, 0.4196078431);
  color: white;
  padding-left: 0.9375rem;
  border: none;
  width: 12.5rem;
}
@media (min-width: 700px) {
  .menu-popUp {
    display: none;
  }
}

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(176, 85, 85, 0.631372549);
  text-align: center;
}
.hero img {
  width: 50%;
  border-radius: 50%;
}
.hero > article {
  padding: 0 3.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero > article > h2 {
  margin: 1.875rem 0;
}
.hero > article > *:not(h2) {
  margin: 0.9375rem 0;
}
.hero > article > button {
  background-color: #E6C8C8;
  transition: background-color 0.3s ease;
  letter-spacing: 0.1875rem;
}
.hero > article > button:hover {
  background-color: #E08383;
}
.hero > article > button:active {
  background-color: white;
}
.hero > article > div {
  width: 150px;
  display: flex;
  justify-content: space-around;
}
@media (min-width: 700px) {
  .hero {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .hero > img {
    width: 25%;
  }
  .hero > article {
    width: 50%;
  }
}

.flipFlop {
  padding: 3.125rem 1.25rem;
}
.flipFlop > article {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2.5rem 0;
}
.flipFlop > article > img {
  width: 100%;
  border: 1.25rem solid rgba(192, 105, 77, 0.4705882353);
}
.flipFlop > article > div {
  padding: 0 1.25rem;
}
.flipFlop > article > div > p {
  line-height: 1.875rem;
}
.flipFlop > article > div > div > h3 {
  padding-top: 1.875rem;
}
.flipFlop > article > div > div > * {
  padding: 0.3125rem 0;
}
@media (min-width: 700px) {
  .flipFlop > article {
    padding: 0 5rem;
    gap: 1.25rem;
  }
  .flipFlop > article > div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flipFlop > article > div > div > h3 {
    padding: 1.25rem 0;
  }
  .flipFlop > article img {
    width: 100%;
  }
  .flipFlopflip {
    flex-direction: row !important;
  }
  .flipFlopflop {
    flex-direction: row-reverse !important;
  }
}

.pinkCard {
  background-color: rgba(183, 76, 76, 0.3490196078);
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.pinkCard > article {
  background-color: white;
  padding: 1.25rem 0.625rem;
  position: relative;
}
.pinkCard > article::after {
  content: "\f061";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  position: absolute;
  color: black;
  padding: 0.3125rem;
  border: 1px solid black;
  border-radius: 50%;
  top: 5%;
  right: 5%;
  cursor: pointer;
}
.pinkCard > article > * {
  margin: 1.25rem 0;
}
.pinkCard > article > button {
  background-color: rgba(183, 76, 76, 0.3490196078);
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: background-color 0.1s ease;
}
.pinkCard > article > button:hover {
  background-color: #e77070;
}
.pinkCard > article > button:active {
  background-color: #b74c4c;
}
@media (min-width: 700px) {
  .pinkCard {
    padding: 2.8125rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }
  .pinkCard > article {
    width: 40%;
    height: 40%;
  }
  .pinkCard > article > * {
    margin: 1.25rem 2.5rem;
  }
}

.bigButton {
  width: 12.5rem;
  height: 2.5rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.1875rem;
}

.smallButton {
  width: 5.625rem;
  height: 2.1875rem;
  border-radius: 0.3125rem;
  background-color: rgba(192, 105, 77, 0.4705882353);
  font-size: 1.125rem;
  font-family: "Poppins", sans-serif;
  color: white;
  letter-spacing: 0.1875rem;
  transition: background-color 0.1s ease;
}
.smallButton:hover {
  background-color: #d59782;
}
.smallButton:active {
  background-color: #c06a4d;
}

.linkIcon {
  color: rgb(59, 59, 59);
  transition: color 0.3s ease;
}
.linkIcon:hover {
  color: white;
}
.linkIcon:active {
  color: black;
}/*# sourceMappingURL=main.css.map */